.container {
  position: relative;
  text-align: center;
  color: rgb(3, 3, 3);
}
  
  #mountainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .card {
    width: 18rem;
  } 
  .card {
    width: 50%;
    justify-content: center;
  } 
   .card-img-fit {
    object-fit: cover;
    width: 40rem;
    height: 35rem;
  } 
  
